div{
    border-style: solid;
    border-width:5px;
    padding: 30px;
}
.container{
    border-color:blueviolet;
}

.row{
    border-color: hotpink;
}

.list-group-item {
    border:0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

